# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
# Do not ignore Assets, Packages, ProjectSettings
!/Assets/
!/Packages/
!/ProjectSettings/

.vs/
*.csproj
*.sln
UserSettings/
.vsconfig.DS_Store
